# Core dependencies
numpy
pandas
matplotlib
seaborn

# Jupyter kernels / notebook
jupyter
notebook
ipykernel

# PyTorchとtorchvisionはGPUの性能にバージョンを合わせないといけないので、
# 別途PyTorch公式HPからインストールしてください　https://pytorch.org/
# DAIVのやつだとcu128のバージョン

# Image Processing
opencv-python
Pillow

# Machine Learning
scikit-learn
scipy
statsmodels

# Utilities
japanize-matplotlib
